.kartica{
    border: 2px solid black;
    padding: 40px;
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin-top: 20px;
    height: 20px;
}

button{
    margin-top:20px
}