@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  font-family: 'Open Sans', sans-serif;;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh
}

input::-webkit-input-placeholder {
  color: lightgray;
}

.wrapper{
  height: 200px;
  width: 300px;
  display: flex;
  background-color: white;
  align-items: center;
    flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

input{
  margin-top: 20px;
  height: 30px;
  width: 250px;
  border: 1px solid lightgray;
  padding-left: 10px;
  
}

.enter_city{
  margin-top: 50px;

}